<!-- home.component.html -->
<section class="umls-home">
    <h1 class="headline">UMLS Download</h1>
    <p></p>
    <p class="intro">
        Would you like to customize your UMLS download? <br> Select only the source vocabularies you need.
    </p>

    <div class="action-group">
        <a routerLink="/subsetting" class="btn btn-primary">✨ Customize the UMLS Metathesaurus</a>
    </div>

    <hr />

    <p class="alt-option">
        Just want the full dataset without customization?
    </p>

    <div class="action-group">
        <a href="#" class="btn btn-secondary">📦 Download Full UMLS Metathesaurus</a>
    </div>
</section>